

* {
  font-family: sans-serif;
}
body { 
  background-color: black;
}
h2 {
  width: 800px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(31, 129, 205);
}
p {
  color: white
}
.banner .banner-content {
  background-image: linear-gradient(rgba(0, 0, 1, 0.8), rgba(7, 70, 84, 0.5), rgba(0, 0, 0, 0.8)), url(banner.png);
  height: 450px;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-bottom: solid 1px rgb(25, 150, 204); 
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.logo {
  text-align: center;
}
h1 {
  text-transform: uppercase;
  color: rgb(31, 129, 205);
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}
.banner .banner-content p {
 font-size: 1.3rem;
  width: 650px;
  margin-top: 0;
  margin-bottom: 10px;
 
}
button {
  background-size: 100px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  font-size: .9rem;
  color: rgb(31, 129, 205);
  margin: 10px;
  border: 1px solid rgb(31, 129, 205);
  padding: 20px
}
#course-content {
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#course-content p {
  width: 800px;
}
.module {
  text-align: center;
  color: white;
  background-color: rgba(73, 73, 73, 0.448);
  background-image: radial-gradient(rgb(86, 86, 86), black);
  width: 470px;
  height: 20px;
  margin: 20px;
  padding: 15px;
  border-radius: 30px;
  border:1px solid rgb(31, 129, 205);
  
}
span {
  color: rgb(31, 129, 205);
}
#transform-world {
  height: 200px;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(woman-code.png);
  text-align: left;
  padding: 200px;
  border-top: solid 1px rgb(25, 150, 204); 
}
#transform-world p {
  width: 300px;
  text-align: left;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-shadow: 4px 2px rgb(112, 196, 232);
}
#professional-challenges {
  height: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 1px rgb(25, 150, 204); 
}
#professional-challenges p {
  width: 800px;
  font-size: 1,9rem;
  text-align: center
}
footer {
  height: 80px;
  text-align: center;
  border-top: solid 1px rgb(25, 150, 204); 
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 1, 0.8), rgba(7, 70, 84, 0.5))
  }
